/**
 |-------------------------------------
 |	File estilos                 	  |
 |-------------------------------------
 |	@package css
 |	@File estilos.php
 |	@version 1.0
 |	@copyright LuosDesign.com - 2012
 |  @definition: load objects
 **/


h1,h2,h3,h4 {
	text-shadow: 0 2px 0 #FFFFFF;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px silver solid;
}

td, th {
    padding: 3px 6px;
}

td {
    text-align: left;
    vertical-align: top;
}

ul {
	list-style: circle;
}

a {
	color: #045FB4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body{
    
    background-image: url(../images/bg.jpg);
    font-family: arial,verdana;
    
}

h1{
    
    color: #FFF;
    font-size:30px;
    font-weight:bold;
    -webkit-text-fill-color: #FFF;
    -webkit-text-stroke-color: blue;
    -webkit-text-stroke-width: 0.75px;  
    
}

table{
    
    margin-bottom: 20px;
    
}

#main{
    
    margin: auto;
    width: 960px;
}

#header{
    
    background-image: url(../images/bg_menu.jpg);
    background-repeat: repeat-x;
    height: 172px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    
}

    #header_in{
        
        margin: auto;
        height: 150px;
        width: 960px;
    }
    
    #menu{
        
        display: inline-block;
        margin-top: 40px;
        
    }
    
    #menu a{
        
        color: #064cff;
        text-decoration: none;
        
    }
    
    #menu #top_menu ul li{
        
        display: inline-block;
        list-style: none;
        vertical-align: top;
        margin-top: 0;
        padding-left: 5px;
        padding-right: 5px;
        height: 50px;
    }
    
    #menu #top_menu{
        display: inline-block;
    }
    
    #menu #top_menu ul{
        
        display: inline-block;
        margin-top: 0;
        margin-left: 0;
        padding-left: 0;
        
    }
    
    #menu #top_menu ul li:hover{
        
        background-image: url(../images/bg_menu_hover.jpg);
        color: #FFF;
        
    }
    
    #menu #top_menu ul li:hover>a{
        
        color: #FFF;
        
    }
    
    #menu #top_menu ul li a{
        
        display: inline-block;
        font-size: 15px;
        margin-top: 15px;
        
    }
    
    #menu .line_menu{
        
        background-image: url(../images/line_menu.jpg);
        background-repeat: no-repeat;
        display: inline-block;
        height: 41px;
        margin-top: 10px;
        width: 2px;
        
    }

#content{
    
    
    display: inline-block;
    margin-top: 170px;
    width: 960px;
    
}
    
    #content #saludo{
        
        color: #0147FA;
        font-weight: bold;
        margin-bottom: 20px;
        
    }
    
    #content fieldset{
        margin: auto;
        width: 600px;
        margin-bottom: 10px;
        padding: 0;        
        padding-bottom: 10px;
        vertical-align: top;
    }
    
    #content .msn_error{
        margin: auto;
        text-align: center;
    }
    
    #content fieldset#login legend{
        
        background-image: url(../images/bg_menu_hover.jpg);
        display: inline-block;
        height: 32px;
        width: 99.5%;
        
    }
    
    #content fieldset#login label{
        
        font-weight: bold;
        display: inline-block;
        vertical-align: top;        
        width: 200px;
        margin-left: 80px;
        margin-top: 10px;
        
    }
    
    #content fieldset#login input{
        
        border-radius: 0px 5px 5px 0px;
        display: inline-block;
        font-size: 20px;
        padding: 10px;
        vertical-align: top;
        width: 200px;
        
    }
    
    #content fieldset#login input[type=button]{
        
        background-color: #0046f9;
        border: 1px solid #0046f9;
        cursor: pointer;
        color: #FFF;
        font-weight: bold;
        margin-left: 200px;
        margin-top: 30px;
        
    }
    
    #content #table thead tr{
        
        background-image: url(../images/bg_menu_hover.jpg);
        color: #FFF;
    }
    
    #content #table tbody tr{
        
        background: #ffffff; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNmQ2ZDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, #ffffff 0%, #d6d6d6 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d6d6d6)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #ffffff 0%,#d6d6d6 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #ffffff 0%,#d6d6d6 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #ffffff 0%,#d6d6d6 100%); /* IE10+ */
        background: linear-gradient(to bottom, #ffffff 0%,#d6d6d6 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-8 */
        
    }
    
    #content #table2 thead tr{
        
        background-image: url(../images/bg_menu_hover.jpg);
        color: #FFF;
    }
    
    #content #table2 tbody tr{
        
        background: #ffffff; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNmQ2ZDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, #ffffff 0%, #d6d6d6 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d6d6d6)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #ffffff 0%,#d6d6d6 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #ffffff 0%,#d6d6d6 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #ffffff 0%,#d6d6d6 100%); /* IE10+ */
        background: linear-gradient(to bottom, #ffffff 0%,#d6d6d6 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-8 */
        
    }
    
    #content #table2 tbody input{
        
        background-color: transparent;
        padding: 0;
        border: 0;
        width: 160px;
        
    }
    
    #content #navigation img{
        
        cursor: pointer;
        
    }
    
    #content #perpage{
        
        font-size: 20px;
        
    }
    
    #content #perpage select{
        
        font-size: 20px;
        height: 40px;
        padding: 5px;
        width: 80px;
        
    }
    
    
    #content fieldset legend{
        
        background-image: url(../images/bg_menu_hover.jpg);
        display: inline-block;
        height: 32px;
        margin-bottom: 10px;
        width: 99.5%;
        
    }
    
    #content fieldset label{
        
        font-weight: bold;
        display: inline-block;
        vertical-align: top;        
        width: 200px;
        margin-bottom: 20px;
        margin-left: 80px;
        margin-top: 10px;
        
    }
    
    #content fieldset input{
        
        border-radius: 0px 5px 5px 0px;
        display: inline-block;
        font-size: 20px;
        padding: 10px;
        vertical-align: top;
        width: 200px;
        
    }
    
    #content fieldset input[type=button]{
        
        background-color: #0046f9;
        border: 1px solid #0046f9;
        cursor: pointer;
        color: #FFF;
        font-weight: bold;
        margin-left: 200px;
        margin-top: 30px;
        
    }
    
    #content select{
        
        font-size: 20px;
        height: 40px;
        padding: 5px;
        width: auto;
        
    }
    
    #content .add_button{
        
        background-image: url(../images/bg_button.png);
        border-bottom: 1px solid #064cff;
        border-radius: 5px;
        color: #FFF;
        display:inline-block;
        height: 38px;
        margin-left: 10px;
        margin-bottom: 10px;
        padding: 0px 14px 0px 14px;
    }
    
    #content .add_button span{
        
        display:inline-block;
        margin-top: 10px;
        
    }
    
    #content #table{
        
        width: 900px;
        
    }
    
    #content #controls{
        
        margin: auto;
        width: 300px;
        
    }
    
    #content #navigation{
        
        margin: auto;
        width: 100px;
        
    }
    
    #content #text{
        
        margin: auto;
        width: 135px;
        
    }
    
#footer{
    
    background-image: url(../images/bg_footer.png);
    background-repeat: no-repeat;
    height: auto;
    margin: auto;
    width: 755px;
    
}

    #footer p{
        color: #000000;
        display: inline-block;
        font-size: 12px;
        margin-top: 35px;
        margin-left: 250px;
        margin-bottom: 3px;
        font-weight: bold;
    }
    
    #footer p + p {
        
        margin-top: 0;
        margin-left: 198px;
        
    }

#dialogo_mensajes{
   
    height: auto!important;
    
}

#dialogo_mensajes h6{
    
    font-weight: bold;
    font-size: 12px;
    
}